.general {
    background-color: aqua;
    display: flex;
    height: 450px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
}


.ecran {}



form {}

.check {}

.link {}